delayed-job/examples/ack-mode-demo.json
[
  {
    "id": "ack_demo_flow",
    "type": "tab",
    "label": "ACK Mode Demo",
    "disabled": false,
    "info": "Demonstrates delayed-job ACK mode with job-complete / job-fault nodes.\n\n- Top flow: job-complete (job completes normally)\n- Bottom flow: ACK timeout → retry → fault output\n- job-complete communicates directly back to delayed-job, no wire needed"
  },
  {
    "id": "ack_redis_config",
    "type": "delayed-job-redis",
    "name": "Local Redis",
    "host": "127.0.0.1",
    "port": "6379",
    "db": "0",
    "tls": false,
    "queueName": "ack-demo",
    "z": "ack_demo_flow"
  },
  {
    "id": "ack_inject_success",
    "type": "inject",
    "z": "ack_demo_flow",
    "name": "Send Job (will complete)",
    "props": [
      { "p": "payload", "v": "Hello ACK!", "vt": "str" },
      { "p": "topic", "v": "test/ack-success", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 100,
    "wires": [["ack_delayed_job_success"]]
  },
  {
    "id": "ack_delayed_job_success",
    "type": "delayed-job",
    "z": "ack_demo_flow",
    "name": "Job Queue (ACK 10s)",
    "redis": "ack_redis_config",
    "concurrency": 1,
    "intervalValue": "0",
    "intervalUnit": "ms",
    "completionMode": "ack",
    "ackTimeoutValue": "10",
    "ackTimeoutUnit": "s",
    "ackMaxRetries": "3",
    "verbose": true,
    "x": 400,
    "y": 100,
    "wires": [["ack_debug_output", "ack_do_work"], ["ack_debug_fault"]]
  },
  {
    "id": "ack_debug_output",
    "type": "debug",
    "z": "ack_demo_flow",
    "name": "Job Received",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 650,
    "y": 60,
    "wires": []
  },
  {
    "id": "ack_do_work",
    "type": "delay",
    "z": "ack_demo_flow",
    "name": "Simulate Work (2s)",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 660,
    "y": 140,
    "wires": [["ack_job_complete"]]
  },
  {
    "id": "ack_job_complete",
    "type": "job-complete",
    "z": "ack_demo_flow",
    "name": "",
    "x": 870,
    "y": 140,
    "wires": []
  },
  {
    "id": "ack_debug_fault",
    "type": "debug",
    "z": "ack_demo_flow",
    "name": "FAULT Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "_jobError",
    "statusType": "auto",
    "x": 650,
    "y": 200,
    "wires": []
  },
  {
    "id": "ack_comment_success",
    "type": "comment",
    "z": "ack_demo_flow",
    "name": "✅ Complete: inject → queue → work 2s → job-complete (直接回傳，不用拉線回 queue)",
    "info": "",
    "x": 370,
    "y": 40,
    "wires": []
  },
  {
    "id": "ack_comment_timeout",
    "type": "comment",
    "z": "ack_demo_flow",
    "name": "⏱ Timeout: inject → queue → NO complete → timeout 5s → retry → fault after 2 tries",
    "info": "",
    "x": 380,
    "y": 280,
    "wires": []
  },
  {
    "id": "ack_inject_timeout",
    "type": "inject",
    "z": "ack_demo_flow",
    "name": "Send Job (no complete → timeout)",
    "props": [
      { "p": "payload", "v": "This will timeout!", "vt": "str" },
      { "p": "topic", "v": "test/ack-timeout", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 180,
    "y": 340,
    "wires": [["ack_delayed_job_timeout"]]
  },
  {
    "id": "ack_delayed_job_timeout",
    "type": "delayed-job",
    "z": "ack_demo_flow",
    "name": "Job Queue (ACK 5s, 2 retries)",
    "redis": "ack_redis_config",
    "concurrency": 1,
    "intervalValue": "0",
    "intervalUnit": "ms",
    "completionMode": "ack",
    "ackTimeoutValue": "5",
    "ackTimeoutUnit": "s",
    "ackMaxRetries": "2",
    "verbose": true,
    "x": 460,
    "y": 340,
    "wires": [["ack_debug_timeout_output"], ["ack_debug_timeout_fault"]]
  },
  {
    "id": "ack_debug_timeout_output",
    "type": "debug",
    "z": "ack_demo_flow",
    "name": "Job Received (no complete sent)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 780,
    "y": 320,
    "wires": []
  },
  {
    "id": "ack_debug_timeout_fault",
    "type": "debug",
    "z": "ack_demo_flow",
    "name": "FAULT (retries exhausted)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "_jobError",
    "statusType": "auto",
    "x": 770,
    "y": 380,
    "wires": []
  }
]
